* {
    background-color: #F3F5FC;
    padding: 0;
    margin: 0;
}

#textarea::placeholder { color: #0A3871; }

#textarea{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    padding: 15px;
    outline: none;
    resize: none;
    margin-top: 20px;
    border-radius: 5px;
    border: none;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#rectangulo{
    position: absolute;
    width: 400px;
    height: 944px;
    right: 40px;
    top: 40px;
    bottom: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#muneco{
    position: absolute;
    background-color: #FFFFFF;
    width: 336px;
    height: 304px;
    right: 72px;
    top: 283px;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    background-color: #FFFFFF;

    position: absolute;
    width: 336px;
    height: 122px;
    right: 72px;
    top: 619px;
}

#encabezado{
    width: 336px;
    height: 58px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    background-color: #FFFFFF;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#parrafo{
    width: 336px;
    height: 48px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    background-color: #FFFFFF;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

#aviso{
    width: 205px;
    height: 18px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exclamacion{
    width: 16px;
    height: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#encriptar{
    position: absolute;
    width: 276.8px;
    height: 15.8px;
    left: 24px;
    top: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    background-color: #0A3871;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#btn1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#desencriptar{
    position: absolute;
    width: 278.4px;
    height: 17.4px;
    right: 24px;
    top: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    background-color: #D8DFE8;
    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#btn2{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}