* {
    position: relative;
    width: 1440px;
    height: 1024px;
    background-color: #F3F5FC;
    padding: 0;
    margin: 0;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#textarea{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;

    outline: none;
    resize: none;
    border: none;
}

#textarea::placeholder{color:#0A3871;}

#rectangulo{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#muneco{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
    background-color: #FFFFFF;
}

#textarea2{
    display: none;
    position: absolute;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    z-index: 1;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    background-color: #FFFFFF;
    color: #495057;

    outline: none;
    resize: none;
    border: none;
}

.alerta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;

    background-color: #FFFFFF;
}

#encabezado{
    width: 336px;
    height: 58px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    background-color: #FFFFFF;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#parrafo{
    width: 336px;
    height: 48px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    background-color: #FFFFFF;
    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.avisos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

#aviso{
    width: 205px;
    height: 18px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exclamacion{
    width: 16px;
    height: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 900px;
}

#btn1{
    width: 328px;
    height: 67px;
    margin: 0px 20px 0px 0px;
    padding: 24px;
    gap: 8px;
    
    text-decoration: none;
    border: 1px solid #0A3871;
    font-size: 16px;
    background-color: #0A3871;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

#btn1:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#btn2{
    box-sizing: border-box;
    width: 328px;
    height: 67px;
    margin: 0px 0px 0px 20px;
    padding: 24px;
    gap: 8px;

    text-decoration: none;
    border: 1px solid #0A3871;
    font-size: 16px;
    background-color: #D8DFE8;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    border-radius: 24px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

#btn2:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#btn3{
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1032px;
    top: 885px;
    padding: 24px;
    gap: 8px;

    text-decoration: none;
    border: 1px solid #0A3871;
    font-size: 16px;
    background-color: #fdfdff;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
    border-radius: 24px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

#btn3:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}